/*mobile devices*/

@media screen and (max-width: 450px) {
    /* ====================== Map ====================== */
    #map-container, #map {
        width: 100%;
    }
    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
        height: 135px;
        align-items: center;
        text-align: center;
    }
    .filter-options h2 {
        width: 100%;
        align-items: center;
        margin: 0;
    }
    .filter-options select {
        margin: 5px;
    }
}

/*tablets*/

@media screen and (min-width: 451px) and (max-width: 849px) {}

/*desktops*/

@media screen and (min-width: 850px) {}
